.shield-icon {
    font-size: 80px;
    color: #00ffcc;
    animation: pulse 1.5s infinite alternate;
    filter: drop-shadow(0px 0px 8px #00ffcc);
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px rgba(0, 255, 204, 0.7);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  h1 strong {
    color: #00ffcc;
  }
  
  /* Animación de pulso */
  @keyframes pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  